@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Regular.ttf);
    font-weight: 400;

}

@font-face {
    font-family:"Bebas";
    src: url(/fonts/BebasNeue-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: "Roboto Condensed";
    src: url(/fonts/RobotoCondensed-Bold.ttf);
    font-weight: 700;
}